.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 25px 20px;
}

.card__like {
  display: grid;
  gap: 3px;
  justify-items: center;
}

.card__like-number {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.73px;
}